!!!5
html
	head
		title Braces - #{title}
		script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
		script(type='text/javascript', src='/js/braces.js')
		link(rel='stylesheet', href='/css/style.css')
	body
		#content
			block content
