extend layout

mixin space(cond)
	if (cond)
		- var style = "height: " + space + "px;";
		.spacer(style= style)
	else
		halfspace = (space-HEIGHT) / 2
		.spacer
			.line(style=   "height: " + halfspace + "px;")
			.corner(style= "height: " + HEIGHT + "px;")
			.line(style=   "height: " + halfspace + "px;")

mixin lines(last)
	.in()
	if (!last)
		.out(attributes)

mixin match(m)
	div.match(id= m.mid) 
		for p in m.players
			c = ''
			if (p.result)
				c = p.result
			+player(p)(class=c)
	div(style="clear:both;")

mixin player(p)
	.player(attributes) #{p.name}

block content
	HEIGHT = 80
	space  = 0
	#bracket
		for round, i in bracket			
			rc = ""

			if (i > 0)
				- space += (HEIGHT*Math.pow(2,i-1))
				- var style = "margin-top: " + (space/2) + "px;";
			else
				rc = "first"

			.round(class= rc, style= style)
				for match, j in round
					cond = j%2 == 0
					
					if ((i > 0) && (j > 0))
						+space(cond)

					- var side = (cond ? "up" : "down")
					- var out  = (round.length<=1 ? "display:none" : null)
					+lines()(class=side, style=out)
					
					+match(match)
